*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Comic Sans MS", sans-serif;
}
@media (min-width:992px) {
    .col-lg-4{
        box-sizing: border-box;
        width:32%;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .col-md-6{
        box-sizing: border-box;
        width:49%;
    }

}

h1{
    text-align: center;
    font-size: 48px;
    margin: 40px 10px;

}

div.items{
    box-sizing: border-box;
    background-color: #999999;
    border: 5px solid black;
    float: left;
    clear:right;
    margin: 0.3%;
}
.content{
    clear: both;
    padding: 10px;
}
.Chicken{
    background-color: #d59898;
    border: 5px solid black;
    border-top: 0px;
    border-right: 0px;
    text-align: center;
    position:relative;
    float: right;
    width:33.3333%;
}
.Beef{
    background-color: #c14543;
    border: 5px solid black;
    border-top: 0px;
    border-right: 0px;
    color:white;
    text-align: center;
    position:relative;
    float: right;
    width:33.3333%;
}
.Sushi{
    border: 5px solid black;
    border-top: 0px;
    border-right: 0px;
    background-color: #e5d198;
    text-align: center;
    position:relative;
    float: right;
    width:33.3333%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}